.hexagon {
  background-color: red;
  width: 50px; /* adjust to control the size */
  aspect-ratio: 1;
  clip-path: polygon(
    100% 50%,
    75% 93.3%,
    25% 93.3%,
    0% 50%,
    25% 6.7%,
    75% 6.7%
  );
}

.triangle {
  background-color: red;
  width: 50px; /* adjust to control the size */
  aspect-ratio: 1;
  clip-path: polygon(93.3% 75%, 6.7% 75%, 50% 0%);
}

.square {
  background-color: red;
  width: 50px; /* adjust to control the size */
  aspect-ratio: 1;
  clip-path: polygon(
    85.36% 85.36%,
    14.64% 85.36%,
    14.64% 14.64%,
    85.36% 14.64%
  );
}

.circle {
  background-color: red;
  width: 50px; /* adjust to control the size */
  aspect-ratio: 1;
  clip-path: circle(50%);
}
