* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.quadrant {
  height: 50%;
  width: 50%;
  border-style: solid;
  border-color: #edf2f4;
  border-width: 3px;
}

.topLeft {
  background-color: #d8e2dc;
}

.topRight {
  background-color: #ffe5d9;
}

.bottomLeft {
  background-color: #ffcad4;
}

.bottomRight {
  background-color: #cbeef3;
}
